.button{
    background-color:#1c88bf;
    color: white;
    border: none;
    border-radius: 2px;
    
    font-size: $font-size-large;
    font-weight: 300;
    // margin: $m-size 0 ;
    padding: $s-size;
    // border: #1c88bf solid 1px;
    // width: 75%;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

}



.button-secondary{
background: #888888;
}

